.top-content-home{
    min-height:700px ;
    background-image: url("../../images/mainback.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.heading{
    font-family:"Poppins";
    font-size: 24px;
    font-weight: 700;
    color: #4a4a4a;
    position: relative;
}
.heading::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 100px;
    background-color: #ffa900;
    bottom: -8px;
    left: 0%;
}
.heading:hover::after{
    animation: anime 0.5s linear 0.5s;
}
@keyframes anime{
    0%{
        width: 0%;
    }
    100%{
        width: 100px;
    }
}
.location{
    width: 100%;
    height: 230px;
    position: relative;
    box-shadow: 0px 3px 5px 1px rgba(31, 67, 96, 0.2);
    border-radius: 5px;
    overflow: hidden;
}
.location img{
    width: 100%;
    height: 100%;
}
.location .location-tag{
    position: absolute;
    top: 19px;
    left: 13px;
    padding-left: 17px;
    padding-right: 17px;
    height: 30px;
    background: #008dd4;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    border-radius: 15px 0 15px 0;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    font-size: 12px;
    color: #fff;
    padding-top: 6px;
}
.location .content{
    position: absolute;
    bottom: 25px;
    right: 21px;
}
.location .city{
    font-size: 15px;
    margin-bottom: 0;
    text-align: right;
    font-family: 'Helvetica', sans-serif;
    color: #fff;    
}
.location .content .location-name{
    font-size: 18px;
    font-weight: 700;    
    text-align: right;
    font-family:Helvetica, sans-serif;
    color: #fff;
    margin-bottom: 1rem;
}
.location .content .rent-btn{
    width: 137px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #ffa900;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin-top: 15px;
    float: right;
    font-family: 'Helvetica', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    padding-left: 7px;
}
.home-box{
    background-color: #0047cc;
    box-shadow: 0 25px 40px 3px rgba(31, 115, 181, 0.3);
    border-radius: 10px 30px 10px 10px;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 30px 20px;
    height: 290px;
}
.home-box .icon-outside{
    position: absolute;
    top: -38px;
    right: -39px;
    width: 133px;
    height: 133px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.home-box .icon-middle{
    background-color: #ffa900;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px #ffa900;
}
.home-box:hover .icon-middle{
    animation: icon 1s linear infinite;
}
@keyframes icon{
    0%{
        width: 59;
        height: 59;
    }
    100%{
        width: 133px;
        height: 133px;
    }
}
.home-box .icon-center{
    color: #fff;
    font-size: 37px;
    margin-bottom: 5px;
}
.home-box .box-title{
    min-height: 72px;
    padding-right: 90px;
    margin-bottom: 27px;
    font-size: 23px;
    font-weight: 600;
    color: #fff;
    text-align: left;
    font-family: Helvetica;
}
.home-box .box-desc{
    font-size: 16px;
    color: #b5ddef;
    line-height: 25px;
    text-align: left;
}
.rental-header{
    margin-bottom: 0.5rem;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #9b9b9b;
    font-size:2rem;
    text-align: left;
}
.hidden h2{
    margin-bottom: 0.5rem;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #9b9b9b;
    font-size:1.5rem;
    text-align: left;
    margin-top: 10px;
}
.rental-text{
    text-align: justify;
    font-family: 'Helvetica', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #9b9b9b;
    margin-bottom: 1rem;
}
.hidden-btn{
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    color: #ffa900;
}
.top-content-home h1{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 55px;
    margin: 0;
    margin-bottom: 4px;
    text-align: left;
    margin-top: -10px;
}
.top-content-home .slider-desc{
    color: #fff;
    font-family: 'Helvetica', sans-serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 3.43px;
    margin: 0;
    margin-bottom: 64px;
    text-align: left;
}
.main-input-div{
    text-align: left;
    background-color: #f8f8f8;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    /* flex-direction: row-reverse; */
    height: 60px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    z-index: 100;
}
.main-input-div .main-input{
    background-color: inherit;
    border: none;
    border-radius: 5px;
    color: #888888;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding-left: 0;
    width: 85%;
}
.main-input-div .main-input:focus{
    outline: none;
}
.main-input-icon{
    align-items: center;
    display: flex;
    padding: 0 20px;
    height: 100%;
    width: 13%;
}
.rental-time{
    width: 355px;
    align-items: center;
    background-color: transparent;
    display: flex;
    left: 12px;
    position: absolute;
    top: -40px;
}
.daily-rental{
    align-items: center;
    background-color: #ff9f19;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: flex;
    flex: 1;
    height: 45px;
    justify-content: center;
    padding: 10px 0 18px;
    transition: all ease-in-out 0.2s;
    z-index: 0;
}
.daily-rental span{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px;
}
.daily-rental svg{
    color: #fff;
    font-size: 20px;
    font-weight: 3  00;
}
.montly{
    margin-left: 4px;
}
.daily-rental.active{
    background-color: #f8f8f8;
}
.daily-rental.active span{
    color: #758493;
}
.daily-rental.active svg{
    color: #758493;
}
.picker-div{
    align-items: center;
    background-color: #f8f8f8;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
}
.picker-left{
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    position: relative;
}
.picker-right{
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    position: relative;
}
.picker-div span{
    color: #384959;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.picker-line{
    width: 2px;
    height: 30px;
    background-color: #888888;
    opacity: 0.37;
}
.find-btn{
    align-items: center;
    background-color: #ffa900;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    height: 100%;
    position: relative;
    width: 100%;
}
.find-btn span{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
}
.find-btn svg{
    position: relative;
    right: -2px;
    font-size: 19px;
}
.calendar-div{
    position: absolute;
    top: 70px;
    z-index: 5;
}
.calendar-div.start{
    right: -367px;
}
.calendar-div.end{
    right: -190px;
}
.rc_root{
    width: 543px;
    padding: 15px;
    height: 260px;
}
.rc_header_label span{
    font-weight: 600;
    font-size: 16px !important;
}
.rc_body-weekdays_cell span{
    color: #008dd4;
    opacity: 0.5;
    font-weight: 400;
}
.rc_body-row:last-child{
    display: none !important;
    height: 0 !important;
}
.rc_body-days-of-month{
    height: 75% !important;
}
/* .rc_wknd button{
    color: black !important;
} */
.different-drop{
    position: absolute;
    bottom: -70px;
    width: 96%;
}
.different-drop button{
    position: absolute;
    right: 10px;
    top:5px;
    border: none;
    background-color: transparent;
    font-size: 24px;
}
.dif-drop-btn{
    position: absolute;
    bottom: -65px;
    width: 96%;
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 60px;
}
.dif-drop-btn span{
    color: white;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
}
.dif-drop-btn .checkbox{
    display: inline-block;
    border-width: 2px;
    height: 18px !important;
    width: 18px !important;
    background-color: #f8f8f8;
    border: 2px solid #e3e3e3;
    border-color: #758493;
    margin-left: 20px;
    border-radius: 5px;
}
.search-result{
    position: relative;
    width: 100%;
    top: 0%;
    z-index: 99;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    max-height: 200px;
    overflow: scroll;
    background-color: #f8f8f8;
}
.search-li{
    display: flex;
    text-align: center;
    padding-top: 10px;
    padding-left: 5px;
    cursor: pointer;
}
.search-li:hover{
    background-color: #c3e9fc;
}
.search-li:hover p{
    color: #008dd4 !important;
}
.search-li:hover svg{
    color: #008dd4 !important;
    opacity: 1 !important;
}


@media (max-width:992px){
    .top-content-home h1{
        text-align: center;
        font-size: 23px;
    }
    .top-content-home{
        min-height: 870px;
        background-size: cover;
        background-position: center bottom;
    }
    .top-content-home .slider-desc{
        text-align: center;
        font-size: 16px;
        letter-spacing: 2.3px;
    }
    .slider-item{
        text-align: center !important;
    }
    .picker-div{
        margin-top: 5rem;
    }
    .different-drop{
        width: 96%;
    }
    .find-btn{
        margin-top: 2.5rem;
        display: flex;
        justify-content: center;
    }
    .find-btn svg{
        position: absolute;
        right: 10px;
    }
    .top-content-home .my-container{
        padding: 1.5rem 7rem;
    }
    .picker-div{
        height: 55%;
    }
    .calendar-div.end{
        right: 0%;
        z-index: 5;
    }
    .calendar-div.start{
        left: -47%;
        z-index: 5;
    }
}
@media (max-width:576px){
    .top-content-home .my-container{
        padding: 1rem 0.5rem;
    }
    .daily-rental{
        width: 40%;
    }
    .calendar-div{
        display: none ;
    }

}

